#emailadd {
    margin: 10px;
    width: 100%;
}
#emailmess {
    margin: 10px;
    width: 100%;
}
#emailSubmit {
    margin-left: 10px;
}
#jumboContact {
    background: var(--white);
    color: var(--black);
    margin-top: 4em;
    width: 100%;
}