.blueboy {
    /* background-color: var(--blue); */
    min-height: 250px;
    justify-content: center;
}
.desc {
    padding: 20px !important;
}
.padText {
    padding-left: 20px;
}
.projImg01 {
    min-width: 400px;
    min-height: 250px;
    background: url(../assets/api_co.png) no-repeat center;
    display: inline-block;
    width: 100%;
}

.projImg02 {
    width: 400px;
    height: 250px;
    background: url(../assets/tutpage_co.png) no-repeat center;
    display: inline-block;
    width: 100%;
}
.projImg03 {
    width: 400px;
    height: 250px;
    background: url(../assets/cssc_co.png) no-repeat center;
    display: inline-block;
    width: 100%;
}
.projImg04 {
    width: 400px;
    height: 250px;
    background: url(../assets/pern_co.png) no-repeat center;
    display: inline-block;
    width: 100%;
}