.blueboy {
    /* background-color: var(--blue); */
    min-height: 250px;
    justify-content: center;
}
.desc {
    padding: 20px !important;
}
.padText {
    padding-left: 20px;
}
.projImg01 {
    width: 400px;
    height: 250px;
    background: url(../assets/recipe-api.png) no-repeat center;
    display: inline-block;
    width: 100%;
}

.projImg02 {
    width: 400px;
    height: 250px;
    background: url(../assets/js-fundies.png) no-repeat center;
    display: inline-block;
    width: 100%;
}
.projImg03 {
    width: 400px;
    height: 250px;
    background: url(../assets/css-creature.png) no-repeat center;
    display: inline-block;
    width: 100%;
}
.projImg04 {
    width: 400px;
    height: 250px;
    background: url(../assets/berm.png) no-repeat center;
    display: inline-block;
    width: 100%;
}
.projImg05 {
    width: 400px;
    height: 250px;
    background: url(../assets/travall.png) no-repeat center;
    display: inline-block;
    width: 100%;
}